<a href="https://colab.research.google.com/github/Grazielly-Araujo/Aplicacoes-Web-com-Python-Django/blob/main/aulaPython07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DJANGO

In [ ]:
""" DJANGO é um Framework (ferramenta tecnologica) com função ..."""

In [ ]:
""" ORM: MAPEAMENTO OBJETO RELACIONAL

In [ ]:
"""MTV : MODEL, TEMPLATE, VIEW

In [ ]:
#MODEL 

#É IMPLEMENTADO O BANCO DE DADOS OU O MODELO OBJETO-RELACIONAL

In [ ]:
#TEMPLATE:
 
 # É IMPLEMENTADO O MODO QUE A INFORMAÇÃO VAI SER APRESENTADA

In [ ]:
#VIEW: FUNÇÃO DE RETORNO PARA UMA URL, PORQU ESTA FUNÇÃO DE RETORNO

In [ ]:
# PRATICA SOBRE FUNCOES

In [ ]:
# exercicio 01
produto = 0

while produto < 1000:
  print(produto)
  produto +=1

In [ ]:
def ex1(n):
  for i in range(1, n+1):
    print((str(i)+ " ") * i)

In [ ]:
obj1 = ex1(8)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [ ]:
# exercicio 02

for i in range(1,n+1):

    print((str(i)+ " ") * i)

In [ ]:
def ex2(x):
  z = []

  for i in range(1, x+1):
    z.append(i)
   # x +=1
    print(z)

In [ ]:
obj1 = ex2(int(input()))

In [ ]:
# exercicio 03:

def __init__(self, n, i, a):
  self.nome = n
  self.idade = i 
  self.ano = a

In [ ]:
def ex3 (x, y, z):
  return x + y + z

In [ ]:
print( ex3(15, 30, 15))

60

In [ ]:
# exercicio 04
# faça um programa, com uma função que necessite de um argumento. A função 
#retona o valor de caractere "P", se seu argumento for positivo, e 'N'
#se for zero ou negativo

In [ ]:


def ex4 (n, x):
  return n + x

In [ ]:
def char(e):
  if e > 0:
    print('P')
  else:
    print('N')

In [ ]:
objchar = char(int(input('Informe um número: ')))

Informe um número: 12
P

In [ ]:
# exercicio 05

def somaImposto(taxaImposto, custo):

  taxa=  taxaImposto/100
  custo = custo
  custoAlterado = (custo * taxa) + custo
  return custoAlterado

In [ ]:
obj= somaImposto(20,100)
print(obj)

120.0

In [ ]:
def somaimposto(taxaimposto, custo):
  print((0.01 * taxaimposto)*custo + custo)

In [ ]:
obj2 = somaimposto(10,100)

110.0

In [ ]:
# exercicio 09

# Reverso do número. Faça uma função que retorne o reverso
# de um número interio informad. por exemplo: 127 ->721


def reverse(x):
  print(x [ -1: - (len(x)+1): - 1])

In [ ]:
obj1 = reverse(input('digite um número: '))

digite um número: 23
32

In [ ]:
numero  = input("Número: ")

print( numero [-1 ::-1])

Número: 3456
6543

In [ ]:
def exe9(n):
  inverso = str(n)

  print(inverso [:: - 1])

In [ ]:
oo = exe9(345)

543